<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="Server.Master" />
    <module name="tamrin3.MiniKuber.main" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="Server.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>